@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(242, 239, 226);
  color: rgb(74, 33, 33);
}

/* ****** HEADER ********* */
header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 1.5rem;
  /* margin-top: 0.5rem; */
  margin-bottom: 5rem;
}

h1 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 2rem;
  font-style: normal;
  letter-spacing: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    position: static;
    transform: none;
    margin-right: auto;
    font-size: 2rem;
  }
  header {
    justify-content: space-between;
  }
}

/* ***** NAV ****** */
nav {
  position: absolute;
  right: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  text-transform: uppercase;
}

.burger {
  padding: 10px;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu:hover .dropdown-menu-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(160, 134, 134);
  color: rgb(242, 239, 226);
}

.dropdown-menu-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  /* padding: 1rem; */
  /* display: flex; */
  /* flex-direction: column; */
  /* background-color: rgb(203, 197, 235); */
  /* color: rgb(242, 239, 226); */
  text-align: right;
}

.dropdown-menu-content a {
  padding: 0.5rem 1rem;
  display: block;
  white-space: nowrap;
  color: rgb(242, 239, 226);
  background-color: transparent;
}

.dropdown-menu-content a:hover {
  color: rgb(242, 239, 226);
  background-color: rgb(74, 33, 33);
}

/* .dropdown-menu:hover .burger {
  background-color: rgb(160, 134, 134);
  color: rgb(242, 239, 226);
} */

nav a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: rgb(74, 33, 33);
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.search-bar {
  padding: 0 0.5rem;
  border-color: rgb(203, 197, 235);
  font-size: 0.9rem;
  line-height: 1;
  height: 32px;
  background-color: rgb(247, 245, 241);
}

.bar {
  width: 35px;
  height: 5px;
  background-color: rgb(74, 33, 33);
  margin: 6px 0;
  transition: background-color 0.2s ease;
}

.dropdown-menu:hover .bar {
  background-color: rgb(203, 197, 235);
  border-color: rgb(74, 33, 33);
  border-width: 10px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
  padding: 0 2rem;
}

/* *** BODY***** */
main {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 0 2rem;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.thumbnail:hover {
  opacity: 0.5;
}

.gallery {
  display: grid;
  height: 420px;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  background-color: rgb(219, 216, 202);
  border-radius: 12px;
  padding: 12px;
}

.gallery > * {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.frame {
  width: 100%;
  height: 420px;
  /* background-color: rgb(200, 223, 215); */
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  /* z-index: 1; */
}

.frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.large-image-container {
  position: relative;
  width: 100%;
  height: 420px;
}

/* **** BUTTONS ****** */

.nav-button-container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: transparent;
  /* pointer-events: none; */
  z-index: 2;
}

.nav-button-container button {
  border: 1px solid rgba(255, 255, 255);
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.418);
  color: rgba(255, 255, 255);
  padding: 6px 10px;
  z-index: 100;
  cursor: pointer;
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav-button-container button:hover {
  opacity: 0.5;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(3 1fr);
  }
}

/******* FOOTER *******/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

#fb-logo {
  max-height: 30px;
  cursor: pointer;
  padding-right: 10px;
}

#ig-logo {
  max-height: 30px;
  cursor: pointer;
  padding-right: 10px;
}

#x-logo {
  max-height: 30px;
  cursor: pointer;
}
