#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

#logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
#logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
#logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* ****** HEADER ********* */
header {
  position: fixed;
  color: white;
  background-color: rgb(118, 21, 60);
  width: 100%;
  padding: 2.5rem;
  /* tomato time has padding: 2.5rem 3rem - can't see a diff so leave out for now */
  z-index: 1;
  /* what does z-index do here? remove if necessary */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  /* check later what this gap does - if needed? */
}

/* ***** NAV ****** */
nav {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  text-transform: uppercase;
  align-items: center;
}

nav a {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

/******* FOOTER *******/
footer {
  background: rgb(118, 21, 60);
  text-align: center;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

#fb-logo {
  max-height: 30px;
  cursor: pointer;
  padding-right: 10px;
}

#ig-logo {
  max-height: 30px;
  cursor: pointer;
  padding-right: 10px;
}

#x-logo {
  max-height: 30px;
  cursor: pointer;
}

/* **** BUTTONS ****** */
button {
  border: 1px solid rgba(255, 255, 255);
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.418);
  color: rgba(255, 255, 255);
  padding: 6px 10px;
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: 50vh;
  right: 5vw;
}

button#next {
  position: absolute;
  top: 50vh;
  right: 5vw;
}

button#prev {
  position: absolute;
  top: 50vh;
  left: 5vw;
}
