@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: rgb(242, 239, 226);
  color: rgb(48, 21, 21);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ****** HEADER ********* */
header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}

h1 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 2rem;
  font-style: normal;
  letter-spacing: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    position: static;
    transform: none;
    margin-right: auto;
    font-size: 2rem;
  }
  header {
    justify-content: space-between;
  }
}

/* ***** NAV ****** */
nav {
  position: absolute;
  right: 1.5rem;
  display: flex;
  gap: 1.5rem;
  text-transform: uppercase;
}

#burger {
  padding: 10px;
}

nav a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: rgb(48, 21, 21);
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

#bar {
  width: 35px;
  height: 5px;
  background-color: rgb(48, 21, 21);
  margin: 6px 0;
}

h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
  padding: 0 2rem;
}

/* *** BODY***** */
#body-section {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  /* align-items: start; */
  padding: 0 2rem;
  /* align-items: stretch; */
}

.thumbnail {
  width: 100%;
  height: 100%;
  /* aspect-ratio: 1/1; */
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

#gallery {
  display: grid;
  height: 420px;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 12px;
  background-color: pink;
  border-radius: 12px;
  padding: 12px;
}

#gallery > * {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

#frame {
  width: 100%;
  height: 420px;
  /* aspect-ratio: 1/1; */
  background-color: rgb(200, 223, 215);
  border-radius: 12px;
}

@media (max-width: 768px) {
  #body-section {
    grid-template-columns: 1fr;
  }
  #gallery {
    grid-template-columns: repeat(3 1fr);
  }
}

/******* FOOTER *******/
footer {
  text-align: center;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

#fb-logo {
  max-height: 30px;
  cursor: pointer;
  padding-right: 10px;
}

#ig-logo {
  max-height: 30px;
  cursor: pointer;
  padding-right: 10px;
}

#x-logo {
  max-height: 30px;
  cursor: pointer;
}

/* **** BUTTONS ****** */
button {
  border: 1px solid rgba(255, 255, 255);
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.418);
  color: rgba(255, 255, 255);
  padding: 6px 10px;
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: 50vh;
  right: 5vw;
}

button#next {
  position: absolute;
  top: 50vh;
  right: 5vw;
}

button#prev {
  position: absolute;
  top: 50vh;
  left: 5vw;
}
